.show{
    width: 250px;
    display:flex;
    flex-direction: column; 
}

.close{
    width:0px;
    display: none;
}

.icon{
    width:35px;
    height:5px;
    background-color: black;
    margin: 6px 0px;
}

#main{
    display:flex;
    flex-direction: column;
}

nav{
    background-color: rgb(155, 155, 155);
}

body{
    margin: 0%;
}